@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Work+Sans&display=swap');

$fontFamily01: 'Rubik', sans-serif;
$fontFamily02: 'Work Sans', sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $fontFamily01;
}

a, p, span, label {
  font-family: $fontFamily02;
}
