@import '/src/assets/styles/global.scss';

.currency-input {
  background: $neutralWhite;

  label {
    display: inline-block;
    margin-bottom: 7px;

    font-size: 12px;
    font-weight: 400;
    line-height: 150%;

    color: $blueGray900;
  }

  .currency-input-wrapper {
    display: flex;
    align-items: center;

    padding: 12px 16px;

    border: 1px solid $blueGray50;
    box-sizing: border-box;
    border-radius: 4px;

    img {
      margin-right: 8px;
    }

    input {
      width: 100%;

      font-size: 24px;
      font-weight: 500;
      color: $blueGray600;

      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  @media (min-width: $medium-device) {
    label {
      font-size: 14px;
      margin-bottom: 7px;
    }
  }
}
