@import '/src/assets/styles/global.scss';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: $neutralWhite;

  font-size: 16px;
  font-weight: 500;

  border: none;
  border-radius: 32px;
  padding: 20px 32px;

  height: 59px;
  width: auto;
  min-width: 150px;

  &:hover {
    cursor: pointer;
  }

  &.is-loading {
    padding-top: 17.5px;
    padding-bottom: 17.5px;

    img {
      animation: 2000ms linear 0s infinite normal none running loading;

      @keyframes loading {
        from {
          transform:rotate(0deg);
        }
        to {
          transform:rotate(360deg);
        }
      }
    }
  }

  &.btn-primary {
    background: $brandColorPrimary;
    color: $neutralWhite;

    &:hover {
      box-shadow: 0px 12px 48px rgba(30, 42, 50, 0.12);
    }

    &:active, &:focus {
      background: $pacificBlue800;
    }
  }

  &.btn-secondary {
    background: $neutralWhite;
    color: $brandColorPrimary;

    box-sizing: border-box;
    border: 2px solid $brandColorPrimary;

    // Subtract -2px to compensate added border width
    padding: 18px 30px;

    &:hover {
      color: $brandColorSecondary;
      border: 2px solid $brandColorSecondary;
    }

    &:active, &:focus {
      background: $blueGray50;
    }
  }
}
