@import '/src/assets/styles/global.scss';

.home {
	display: flex;
	flex-direction: column;

	height: 100%;
  min-height: 100%;

  .container {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 18px;
      font-weight: 400;
      text-align: center;

      color: $brandColorPrimary;
      line-height: 150%;
      margin-bottom: 24px;
    }

    .card {
      .card-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
        margin-bottom: 16px;

        img {
          margin-bottom: 16px;
        }

        h1 {
          font-size: 20px;
          font-weight: 500;
        }

        p {
          font-size: 14px;
          font-weight: 400;
        }
      }

      .card-body {
        margin-bottom: 16px;

        .currency-input {
          margin-bottom: 16px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .card-footer {
        display: flex;
        justify-content: center;

        .btn {
          width: 256px;
        }
      }
    }
  }

  @media (min-width: $medium-device) {
    .container {
      h2 {
        font-size: 20px;
        margin-bottom: 24px;
      }

      .card {
        .card-header {
          flex-direction: row;
          margin-bottom: 24px;
          text-align: left;

          img {
            margin-right: 16px;
            margin-bottom: 0;
          }

          h1 {
            font-size: 24px;
          }

          p {
            font-size: 16px;
          }
        }

        .card-body {
          display: flex;
          justify-content: space-between;

          gap: 16px;
          margin-bottom: 32px;

          .currency-input {
            width: 232px;
            margin-bottom: 0;
          }
        }

        .card-footer {
          .btn {
            width: 320px;
          }
        }
      }
    }
  }
}
