@import '/src/assets/styles/global.scss';

.result {
  .card {
    .card-header {
      display: flex;
      flex-direction: column;
      align-items: center;

      text-align: center;
      margin-bottom: 16px;

      img {
        margin-bottom: 16px;
      }
    }

    .card-body {
      margin-bottom: 32px;

      .scorebar {
        width: 100%;
        margin-bottom: 24px;
      }

      h1, p {
        text-align: center;
      }
    }

    .card-footer {
      display: flex;
      justify-content: center;

      .btn {
        width: 256px;
      }
    }

    @media (min-width: $medium-device) {
      .card-header {
        margin-bottom: 24px;

        img {
          margin-right: 16px;
          margin-bottom: 0;
        }
      }

      .card-body {
        margin-bottom: 35px;

        .scorebar {
          width: 444px;
        }
      }

      .card-footer {
        .btn {
          width: 320px;
        }
      }
    }
  }
}
