$neutralWhite: #FFFFFF;
$background: #F4F8FA;

$brandColorPrimary: #001C95;
$brandColorSecondary: #0277FF;
$pacificBlue800: #1B30A9;

$blueGray50: #E9EEF2;
$blueGray200: #ABB8C2;
$blueGray400: #708797;
$blueGray600: #4D6475;
$blueGray900: #1E2A32;

$green500: #04C761;
$sun700: #FFC032;
$red700: #D32A36;

$feedbackDangerLight: #FFECE6;
$feedbackDangerFull: #F43E3E;
