$neutralWhite: #FFFFFF;
$background: #F4F8FA;

$brandColorPrimary: #001C95;

$blueGray50: #E9EEF2;
$blueGray400: #708797;
$blueGray600: #4D6475;
$blueGray900: #1E2A32;

$green500: #04C761;
$sun700: #FFC032;
$red700: #D32A36;
