@import 'grid';
@import 'colors';
@import 'typography';

body {
  margin: 0;
}

#root {
  height: 100vh;
}

.container {
  flex: 1;

  padding-left: 16px;
  padding-right: 16px;

  background-color: $background;

  @media (min-width: $medium-device) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
